@import '../assets/styles/project-color';

.content {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../assets/img/weather-img-tiny.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
}
