@import '../assets/project-color';

.content {
  background-image: url("../assets/img/weather-img-tiny.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
}

.search-form {
  position: relative;
  width: 50%;
  margin: 0 auto;

  &__input {
    width: 100%;
    height: 45px;
    border: 1px solid $white;
    border-radius: 50px;
    padding: 5px 50px 5px 20px;
    font-size: 80%;
    color: $white;
    outline: none;
    background: transparent;
    box-sizing: border-box;
  }

  &__input::placeholder {
    color: $light-gray;
  }

  &__button {
    outline: none;
    border-style: none;
    border-radius: 50px;
    height: 45px;
    width: 45px;
    margin-right: 10px;
    background: transparent;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
  }
}

.today-weather {
  width: 50%;
  height: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  &__item {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: $white;
    line-height: 25px;
  }

  &__icon {
    width: 150px;
    height: 150px;
  }

  &__city {
    font-size: 150%;
  }

  &__temperature {
    font-size: 200%;
  }
}
