@import '../../assets/project-color';

.today-weather {
  display: flex;
  flex-direction: column;
  color: $white;
  align-items: center;

  &__item {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5%;
    font-size: 80%;
  }

  &__description {
    margin-left: 7%;
    width: 50%;
  }

  .icon__box {
    width: 50%;
    text-align: right;
  }

  &__icon {
    width: 50%;
    height: auto;

  }

  &__city {
    font-size: 150%;
    margin-bottom: 2.1%;
  }

  &__temperature {
    font-size: 200%;
    width: 50%;
    text-align: right;
  }
}
