<section class="section">
  <div class="today-weather"
       *ngIf="displayWeatherData !== undefined;">
    <div class="today-weather__item">
      <div class="icon__box">
        <img class="today-weather__icon" src="{{displayWeatherData.getIconPath()}}">
      </div>
      <div class="today-weather__description">
        <p class="today-weather__city">{{displayWeatherData.cityName}}</p>
        <p class="today-weather__date hide">{{displayWeatherData.getHumanReadableDate()}}</p>
        <p class="today-weather__info">{{displayWeatherData.weatherDescription}}</p>
      </div>
    </div>
    <div class="today-weather__item">
      <div class="today-weather__temperature"> {{displayWeatherData.temperature}} &deg;С</div>
      <div class="today-weather__description hide">
        <p class="today-weather__wind"><i class="fas fa-wind"></i>  {{displayWeatherData.wind}} km/h</p>
        <p class="today-weather__humidity"> <i class="fas fa-tint"></i> {{displayWeatherData.humidity}} %</p>
        <p class="today-weather__pressure"> <i class="fas fa-weight"></i> {{displayWeatherData.pressure}} hPa</p>
      </div>
    </div>
  </div>
</section>
