@import '../../assets/styles/project-color';
@import '../../assets/styles/responsive-mixin';


:host {
  height: 45%;
  display: flex;
  align-items: center;

  @include _481 {
    height: 50%;
  }
}

.today-weather {
  display: flex;
  flex-direction: column;
  color: $white;
  align-items: center;

  &__item {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;

    @include _1800 {
      width: 45%;
    }

    @include _481 {
      flex-direction: column;
    }
  }

  &__description {
    font-size: 90%;
    margin-left: 4%;
    width: 50%;

    @include _1800 {
      font-size: 100%;
    }

    @include _481 {
      width: 90%;
    }

    .fas{
      font-size: 60%;
      width: 15px;
    }
  }

  .icon__box {
    width: 50%;
    text-align: center;

    @include _481 {
      width: 70%;
    }
  }

  &__icon {
    width: 80%;

    @include _481 {
      width: 100%;
    }
  }

  &__city {
    font-size: 120%;
    margin-bottom: 2.1%;

    @include _1800 {
      font-size: 150%;
    }

    @include _481 {
      text-align: center;
    }
  }

  &__info {
    @include _481 {
      text-align: center;
      margin: 10px 0;
    }
  }

  &__temperature {
    font-size: 130%;
    width: 50%;
    text-align: center;

    @include _1800 {
      font-size: 180%;
    }

    @include _481 {
      font-size: 90%;
    }
  }

  @include _481 {
    .hide {
      display: none;
    }
  }
}
