<section class="section">
  <div class="today-weather">
    <div class="today-weather__item">
      <img class="today-weather__icon" src="../assets/img/2882343%20-%20leaves%20in%20wind%20pleasant%20weather%20spring%20season%20symbol%20spring%20winds%20weather.svg">
      <div class="today-weather__temperature"> 18 C</div>
    </div>
    <div class="today-weather__item">
      <div class="today-weather__data">
        <p class="today-weather__city">Enschede</p>
        <p class="today-weather__date">Oct-27, 2019-Sun</p>
        <p class="today-weather__info">Clear sky</p>
      </div>
      <div class="today-weather__description">
        <p class="today-weather__wind"> Wind: 5km/h</p>
        <p class="today-weather__humidity"> Humidity: 78%</p>
        <p class="today-weather__wind"> Pressure: 1019 hPa</p>
      </div>
    </div>
  </div>
</section>
