@import "~normalize-scss";
@import './assets/styles/responsive-mixin';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 30px;
  height: 100%;

  @include _1200 {
    font-size: 18px;
  }
}

.header,
.section {
  width: 70%;
  margin: 0 auto;
  padding: 5% 0 1%;

  @include _1200 {
    width: 80%;
    padding: 6% 0;
  }

  @include _481 {
    width: 95%;
  }
}
