@import '../../assets/styles/project-color';
@import '../../assets/styles/responsive-mixin';

.search-form {
  position: relative;
  width: 50%;
  margin: 0 auto;

  @include _1200 {
     width: 65%;
   }

  @include _1024 {
    width: 80%;
  }

  &__input {
    width: 100%;
    height: 45px;
    border: 1px solid $white;
    border-radius: 50px;
    padding: 5px 50px 5px 20px;
    font-size: 60%;
    color: $white;
    outline: none;
    background: transparent;
    box-sizing: border-box;

    @include _625 {
      height: 35px;
    }
  }

  &__input::placeholder {
    color: $light-gray;
  }

  &__button {
    outline: none;
    border-style: none;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    background: transparent;
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 0;

    @include _1024 {
      top: 3px;
    }

    @include _625 {
      height: 35px;
      width: 35px;
    }
  }

  &__button:hover {
    svg {
      fill: #086c9f;
    }
  }
}
