@import '../../assets/styles/project-color';
@import '../../assets/styles/responsive-mixin';

:host {
  width: 20%;
  background: linear-gradient(rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2));
  padding: 1% 1.5% 1.5%;

  @include _481 {
    width: 100%;
    padding: 0;
  }

}

.weather-item {
  font-size: 60%;
  text-align: center;
  color: $white;

  @include _1800 {
    font-size: 80%;
  }

  @include _767 {
    font-size: 50%;
  }

  @include _481 {
    font-size: 50%;
    margin: 0 10px;
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-bottom: 5px;
    width: 40%;

    @include _481 {
      width: 20%;
      margin-left: 10px;
      margin-bottom: 0;
    }
  }

  &__temperature {
    margin-bottom: 5px;
    text-align: center;
    margin-left: 20px;

    @include _481 {
      font-size: 130%;
    }
  }

  &__date {
    margin-bottom: 5px;

    @include _481 {
      font-size: 120%;
      margin-left: 20px;
    }
  }

  &__wind, &__humidity, &__pressure{
    text-align: left;

    @include _481 {
      display: none;
    }

    .fas {
      font-size: 70%;
      width: 12px;
    }
  }
}


